<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
      <br>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" ng-repeat="product in products | filter : search">

        <div class="panel-body" ng-init="checkCart( product )">
          <h2><span class="label label-warning pull-right">{{product.price | number:2}} zł / kg</span></h2>
            <h2><a href="#/product/{{product.id}}">{{product.name}}</a></h2>
          <p>&nbsp;</p>
          <a href="#/product/{{product.id}}" class="btn btn-info">Szczegóły</a>
          <button ng-click="addToCart( product ); checkCart( product )" class="btn btn-primary" ng-if="!product.qty">Dodaj do koszyka</button>
          <button ng-click="addToCart( product ); checkCart( product )" class="btn btn-primary" ng-if="product.qty">W koszyku: {{product.qty}}</button>
        </div>

      </div>

    </div>
  </div>
</div>